/.idea/dataSources.xml
/Dijed.iml
/.idea/gradle.xml
/Task1/gradle/wrapper/gradle-wrapper.jar
/Task1/gradle/wrapper/gradle-wrapper.properties
/Task1/gradlew
/Task1/gradlew.bat
/Task1/gradle/wrapper/gradle-wrapper.jar
/.idea/modules.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/modules/Task1.main.iml
